@media all and (max-width:767px){
/*-----tab 기본폰트 사이즈 12px -----*/
html,body{
    font-size: 12px;
}
body{
    overflow-y: auto;
}
/*-----전체 페이지 스타일 지정-----*/
.page_wrap{
    background-color: white;
    position: relative;
}
.main_page{
    background-color: white;
    position: fixed;
    overflow: hidden;
}
/*-----1.run_wrap : tab버전부터 X-----*/

/*-----2. main_page-----*/
.main_text,.click_box{
    text-align: center;
}
.main_text{
    font-size: 5rem;
    margin: 0 auto;
}
.click_box{
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    margin: 0 auto;
}
/*-----3.page_wrap-----(button_box/move_page)*/
/*1) 메뉴박스(button_box)*/
.button_box{
    background-color: white;
    box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hide_text{
    display: none;
}
.button_con>img{
    transform: scale(0.6);
}
/*2) move_page*/
.move_page{
    position: absolute;
    left:0;
    top:0;
}
.page{
    box-sizing: border-box;
    position: relative;
}
/*----------(A)page_1 : 자기소개 영역*/
.name_box{
    text-align: center;
}
.point_text{
    font-size: 3rem;
}
.point_text>span{
    font-size: 1.5rem;
}
.point_text .sub_text{
    font-size: 1rem;
}
.con_box>.top_text{
    border-left: 5px solid;
    border-image: linear-gradient(to top,#dd5875,#f39b00,#75bd4d,#059ee2);
    border-image-slice:1;
    padding-left: 10px;
    box-sizing: border-box;
}
.con_box p{
    margin-top: 10px;
    padding-left: 15px;
    box-sizing: border-box;
}
.skill_img{
    width: 100%;
    overflow: hidden;
    padding: 0 10%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.skill_img>img{
    width: 14vw;
    height: 14vw;
}
/*----------(B)page_2 : 프로젝트 영역*/
.pj_text{
    font-size: 2rem;
    text-align: center;
}
.pj_text>p{
    font-size: 1.5rem;
}
.pj_con{
    font-size: 1.5rem;
    word-break: keep-all;
    text-align: center;
}
/*Swiper plug-In*/
.swiper_wrap{
    position: relative;
}
.swiper-pagination{
    display: none;
}
.hide_con{
    display: block;
} 
/*----------(C)page_3 : contact 영역*/
.close_but{
    display: none;
}
.top_page{
    text-align: center;
}
.contact_box .point_text{
    font-size: 4rem
}
.call_box{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.call_box img{
    margin: 5% 0;
    width: 95%;
    height: 70%;
}
.copyright_box{
    display: block;
    /* background-color: yellow; */
}

}

