@media all and (min-width:1024px){
    
    /*-----pc 기본폰트 사이즈 16px -----*/
    html,body{
        font-size: 16px;
    }
    .invisible-scrollbar::-webkit-scrollbar {
        display: none;
      }
    /* 페이지 구성 순서(run_wrap-main_page_page_wrap)
        main_page 버튼 클릭
        run-wrap : 좌측(left:-ww)에서 메인페이지(left:0)로 이동
        page_wrap : 우측(left:ww)에서 메인페이지(left:0)로 이동  */

    /*-----전체 페이지 스타일 지정-----*/
    .run_wrap,.main_page,.page_wrap{
        position: absolute;
        background-color: white;
    }

    /*-----1.run_wrap-----*/
    .run_wrap>img{
        position: absolute;
        transition: 5s;
    }
                                    /* PC작업편집시 */
                                    /* .run_wrap,.main_page{
                                        display: none;
                                    } */
    /*-----2. main_page-----*/
    .main_text,.click_box{
        text-align: center;
    }
    .main_text{
        top:60vh;
        font-size: 5rem;
    }
    .click_box{
        background-color: #000;
        color: #fff;
        cursor: pointer;
        border-radius: 40px;
        margin: 0 auto;
    }
    /*-----3. page_wrap-----*/
    /*1) 메뉴박스(button_box)*/
    .button_box{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: sticky;
        z-index: 999;
        cursor: pointer;
    }
    .button_con{
        color: #fff;
        font-size: 0.9rem;
        border:2px solid transparent;
        background-image:linear-gradient(#fff, #fff), linear-gradient(45deg,#dd5875,#f39b00,#75bd4d,#059ee2); 
        background-origin:border-box; 
        background-clip:padding-box, border-box;
    }
    .button_con>img{
        transform: scale(0.6);
    }
    .hide_text{
        display: none;
        transition: 0.3s;
    }
    /*------------------------------------------*/
    /*2) 상세페이지(move_page)*/
    .move_page{
        position: absolute;
        left:0;
        top:0;
    }
    .page{
        position: relative;
    }
    /*----------(A)page_1 : 자기소개 영역*/
    .con_wrap{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
    }
    /*run_wrap사라지면서 left_con>img fadeIn()*/
    .left_con>img{ 
        display: none;
    }
    .point_text{
        font-size: 4rem;
    }
    .point_text>span{
        font-size: 2rem;
    }
    .point_text .sub_text{
        font-size: 1.5rem;
    }
    .con_box>.top_text{
        border-left: 5px solid;
        border-image: linear-gradient(to top,#dd5875,#f39b00,#75bd4d,#059ee2);
        border-image-slice:1;
    }
    .skill_img{
        width: 90%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5% 0;
        box-sizing: border-box;
        /* background-color: #75bd4d; */
    }
    .skill_img>img{
        width: 4vw;
        height: 4vw;
    }
    /*----------(B)Page_2 : 프로젝트 영역 
    /*Swiper plug-In*/
    .swiper_wrap{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .swiper-wrapper{
        width: 100%;
        height: 90%;
        transition-timing-function: linear; /*자연스럽게 slide효과*/
    }
    .swiper-slide img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: 0.5s;
        cursor: url(../img/cursor.png)1 8,auto;
    }
    .swiper-slide img:hover{
        transform: scale(1.1);
    }
    /*----------(C)page_3 : contact 영역*/
    .top_page{
        background-color: rgba(0,0,0, 0.9);
        position: fixed;
        top:0;
        left:0;
        z-index: 99999;
        display: none;
        text-align: center;
    }
    .contact_box{
        border:5px solid transparent;
        background-image:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), linear-gradient(-45deg,#dd5875,#f39b00,#75bd4d,#059ee2);
        background-origin:border-box;
        background-clip:padding-box, border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        border-radius: 20px;
        margin: 0 auto;
    }
    .close_but{
        width: 70px;
        height: 30px;
        color:#fff;
        background-color: #33333365;
        border-radius: 15px;
        line-height: 30px;
        font-size: 0.9rem;
        position: absolute;
        top:25px;
        right:25px;
        cursor: pointer
    }
    .call_box{  
        display: flex;
        justify-content: space-evenly;
    }
    .close_but:hover{
        background-image: linear-gradient(-45deg,#dd5875,#f39b00,#75bd4d,#059ee2);
    }
    .call_box>div{
        height: 100%;
        padding: 1%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .call_box a{
        width: 100%;
        height: 70%;
    }
}