@media all and (min-width:768px) and (max-width:1023px){
/*-----tab 기본폰트 사이즈 14px -----*/
html,body{
    font-size: 14px;
}
.info_2{
    display: block;
}
.con_box{
    float: left;
}
.tm_button{
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 99999;
    background-color: #fff;
    box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, 0.2);
}
.tm_but>img{
    transform: scale(0.7);
}
/* .right_con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */
.skill_img{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skill_img>img{
    width: 7vw;
    height: 7vw;
    margin: 0 0.5vw;
    margin-top: 10px;
}
.swiper-pagination{
    display: none;
}
.hide_pc{
    display: block;
} 
.pj_text{
    font-size: 1.5rem;
    text-align: center;
}
.pj_text>p{
    font-size: 1rem;
}
.pj_con{
    font-size: 1rem;
    word-break: keep-all;
    text-align: center;
}
/*----------(C)page_3 : contact 영역*/
.close_but{
    display: none;
}
.contact_box .point_text{
    font-size: 4rem
}
.call_box{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.call_box img{
    margin: 5% 0;
    width: 95%;
    height: 70%;
}
}