@media all and (min-width:768px) and (max-width:1023px){
/*tab css*/
html{
    font-size: 14px;
}
body{
    overflow-y: auto;
}
/*1. run_wrap : 구현X*/
/*2. main_page*/
.main_page,.page_wrap{
    width: 100vw;
}
.main_text,.click_box{
    text-align: center;
    position: absolute;
    left: 50%;
}
.main_page>img{
    top:0;
}
.main_text{
    top:60vh;
    margin-bottom: 3vh;
}
.click_box{
    top: 54vh;
    border-radius: 30px;
}

/*3. page_wrap(button_box/move_page)*/
/*3-1. button_box*/
.button_box{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
.hide_text{
    display: none;
}
.button_con>img{
    transform: scale(0.6);
}
/*3-2. move_page*/
.move_page{
    position: absolute;
    left:0;
    top:0;
}
.page{
    box-sizing: border-box;
    position: relative;
}
/*3-2.(A)page_1 : 자기소개 영역*/
.con_wrap{
    display: flex;
    justify-content: space-around;
}
.name_box{
    word-break: keep-all;
}
.point_text{
    font-size: 3rem;
}
.point_text>span{
    font-size: 1.5rem;
}
.point_text .sub_text{
    font-size: 1rem;
}
.con_box>.top_text{
    border-left: 5px solid;
    border-image: linear-gradient(to top,#dd5875,#f39b00,#75bd4d,#059ee2);
    border-image-slice:1;
    padding-left: 10px;
    box-sizing: border-box;
}
.con_box p{
    margin-top: 10px;
    padding-left: 15px;
    box-sizing: border-box;
}
.skill_img{
    width: 100%;
    height: 50%;
    background-color: #75bd4d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skill_img>img{
    margin: 0 0.5vw;
    width: 7vw;
    height: 7vw;
}
/*3-2.(B)page_2 : 프로젝트 영역*/
.pj_text{
    font-size: 2rem;
}
.pj_con{
    font-size: 1.5rem;
    word-break: keep-all;
}
/*Swiper plug-In*/
.swiper_wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.swiper{
    /* width: 100%;
    position: absolute; */
    background-color: #059ee2;
}
.swiper-wrapper{
    width: 100%;
    height: 100%;
    background-color: yellow;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.swiper-pagination{
    display: none;
}
.hide_con{
    display: block;
}
/*3-2.(C)page_3 : contact 영역*/
.top_page{
    text-align: center;
}
.close_but{
    display: none;
}
.call_box{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.call_box img{
    margin: 5% 0;
    width: 95%;
    height: 70%;
}

}